<nav>
    <div class ='site-title'>
        <a href="/"><h1>Test title</h1></a>
        <p>lorem ipsum lorem ipsum</p>
    </div>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href ="/create">Add data</a></li>
    </ul>
  </nav>