<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>

</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class = "not-found content">
      <h2>OOOPs no page found</h2>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>